//- 変数初期設定
- var head = {}
- head.title       = ''
- head.keywords    = ''
- head.description = ''
- var filePath = '/'

- var siteTitle       = 'サイトタイトル'
- var siteKeywords    = 'サイトタイトル'
- var siteDescription = 'サイトタイトル'
- var siteURL         = 'http://hoge.com'

//- 変数読み込み
block vars

doctype html
html(lang='js')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    if head.title === ''
      title #{siteTitle}
    else
      title #{head.title}｜#{siteTitle}

    meta(name="keywords", content="#{head.keywords}")
    meta(name="description", content="#{head.description}")

    if head.title === ''
      meta(property="og:title", content="#{siteTitle}")
    else
      meta(property="og:title", content="#{head.title}｜#{siteTitle}")

    meta(property="og:description", content="#{head.description}")
    meta(property="og:url", content="#{siteURL}#{filePath}")
    meta(property="og:locale", content="ja_JP")

    if filePath === '/'
      meta(property="og:type", content="website")
    else
      meta(property="og:type", content="article")

    meta(property="og:image", content="")

    link(rel='stylesheet', href='./stylesheets/style.css')

  body
    .wrap
      h1.title h1タイトル

    include /_template/_head

    block content

    script(src='./javascripts/common.js')

